*{
    box-sizing: border-box; 
    
}
body{
    display: flex;
    
}
.flex-row justify-content-around{
    background-color: orange;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 oct. 2018, 11:27:49
    Author     : Imac_ELAN_11
*/

